.character-select-screen-container {
    margin-top: 80px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.character-select-content-container {
    margin: 5px;
width: 100%;
min-width: 320px;
max-width: 960px
}
.character-select-title-container {
    margin: 5px;
display: flex;
justify-content: center;
background: #761e21;
opacity: .6
}
.character-cards-container {
    margin: 5px;
display: flex
}