.magic-items-container {
    margin-top: 25px;
    display: flex;
    justify-content: center
}
.magic-items-title-accordion-container {
    min-width: 320px;
    max-width: 780px;
    width: 100%;
    opacity: .6
}
.magic-items-title {
    background: rgb(118, 30, 33);
    display: flex;
    justify-content: center;
    color: white
}
.magic-item-table-container {
    background: #444a54
}
.magic-item-table-header-container {
    display: flex;
    color: white;
    background: rgb(118, 30, 33)
}
.magic-item-header-name {
    width: 345px;
    display: flex;
    justify-content: center
}
.magic-item-header-rarity {
    width: 220px;
    display: flex;
    justify-content: center;
    border-right: 1px white solid;
    border-left: 1px white solid
}
.magic-item-header-type {
    width: 210px;
    display: flex;
    justify-content: center
}
.magic-item-indv-item-container {
    border: 1px white solid;
    display: flex;
    color: white
}
.magic-item-indv-name {
    width: 345px;
    padding: 5px;
    display: flex;
    justify-content: center
}
.magic-item-indv-rarity {
    width: 220px;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-right: 1px white solid;
    border-left: 1px white solid
}
.magic-item-indv-type {
    width: 210px;
    padding: 5px;
    display: flex;
    justify-content: center
}


