.monster-page-container {
    margin-top: 25px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center
}
.monster-pagination-container {
    margin: 5px;
    min-width: 320px;
    max-width: 780px;
    width: 100%;
    display: flex;
    justify-content: center
}
.monster-table-container {
    margin: 10px;
    min-width: 320px;
    max-width: 780px;
    width: 100%;
    display: flex;
    justify-content: center
}
.monster-column-container {
    display: flex;
    flex-direction: column
}
.monster-title-container {
    color: white;
    padding: 5px;
    background: #761e21;
    opacity: .6
}
.monster-indv-data-container {
    border: 1px white solid;
    color: white;
    padding: 5px;
    background: rgba(76,81,88);
    opacity: .6;
    cursor: pointer
}
.monster-indv-data-container:hover {
    opacity: .8
}
.monster-column-other-container {
    display: flex;
    flex-direction: column
}
.monster-title-other-container {
    color: white;
    padding: 5px;
    background: #761e21;
    opacity: .6
}
.monster-indv-data-other-container {
    border: 1px white solid;
    color: white;
    padding: 5px;
    background: rgba(76,81,88);
    opacity: .6
}