.sign-up-screen {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
.sign-up-content-container {
    margin: 5px;
    padding-top: 40px;
    width: 320px;
    height: 450px;
    border-radius: 15px;
    background: #393E46;
    box-shadow: 0px 2px 2px 0px black;
    display: flex;
    align-items: center;
    flex-direction: column
}
.sign-up-title-container {
    width: 100%;
    display: flex;
    margin: 5px;
    padding-left: 40px
}
.sign-up-title-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    opacity: .6
}
.sign-up-error-container {
    display: flex;
    padding-left: 5px
}
.sign-up-error-icon-container {
    font-size: 12px;
    display: flex;
    align-items: center;
    padding-right: 5px
}
.sign-up-error-text {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: red
}
.sign-up-input-container {
    width: 100%;
    display: flex;
    margin: 10px;
    justify-content: center
}
.sign-up-input {
    border-radius: 15px;
    padding-left: 10px;
    width: 250px;
    height: 35px;
    opacity: .6;
    cursor: pointer;
}
.sign-up-input:hover {
    opacity: 1
}
.sign-up-button-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column
}
.sign-up-button {
    width: 250px;
    border-radius: 15px;
    background-color: #761e21;
    color: white;
    margin-bottom: 20px;
    height: 35px;
    cursor: pointer;
    border-style: none;
    opacity: .6
}
.sign-up-or-container {
    margin: 5px;
    display: flex;
    align-items: center;
    color: white;
    opacity: .6
}
.sign-up-bar {
    border-top: 1px white solid;
    margin-right: 5px;
    margin-left: 5px;
    width: 103px;
    height: 0px
}
.sign-up-button:hover {
    opacity: 1;
    box-shadow: 0px 1px 1px 0px black;
}
.sign-up-alternate-login-container {
    margin: 5px;
    display: flex;
    color: white
}
.sign-up-alternate-login {
    margin: 5px;
    cursor: pointer;
    opacity: .6
}
.sign-up-have-account-container {
    margin-top: 5px;
    display: flex;
    color: white
}
.sign-up-have-account-text {
    margin: 5px;
    font-size: 10px;
    opacity: .6
}
.sign-up-sign-in-here-text {
    font-size: 10px;
    margin: 5px;
    text-decoration: underline;
    opacity: .6;
    cursor: pointer
}
.sign-up-sign-in-here-text:hover {
    opacity: 1
}